* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  background-color: #EFEBE9;
}

h3 {
  font-size: 3rem;
  margin: 3rem 0 5rem 0;
}

input[type="radio" i] {
  appearance: none;
  -webkit-appearance: none;
}

#operando1, #operando2, #resultado {
  width: 10rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
  background-color: white;
  margin: 1rem;
}

#resultado {
  background-color: rgba(121, 114, 203, 0.4);
}

#reset {
  width: 10rem;
  height: 4rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
}

.btn-radio {
  width: 3rem;
  height: 3rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
  background-color: rgb(143, 242, 7);
  margin: 0.5rem;
}