
html {
  height: 100vh;
}

body{
  background-color:	#EFEBE9;
  font-family: 'Roboto Mono', monospace;
  font-size: 100%;
}

h3 {
  margin: 2em;
}

label {
  font-family: 'Raleway', sans-serif;
}

#operando1, #operando2, #resultado{
  font-size: 1em;
  width:50%;
  height: auto;
  border-radius: 0.5em;
  border: 1px solid grey;
  padding: 0 0.5em;
  background-color: rgba(181, 254, 55, 0.46);
}

#resultado {
  height: 1em;
  background-color: rgb(91, 174, 255);
}

.btn-radio {
  display: inline-block;
  font-size: 2em;

}

button#calcular {
  font-size: 1em;
  font-weight: bold;
  margin-top: 1em;
  padding: 1em 2em;
  background-color:#F1C40F;
  border-radius: 0.5em;
}

label {
  margin-bottom: 0;
  font-family: 'Roboto Mono', monospace;

}
}
