*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body {
  width: 90%;
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color:	#EFEBE9;
  font-family: 'Roboto Mono', monospace;
 
}

h3 {
  font-size: 5vw;
  margin: 2em;
}

input[type="radio" i] {
  appearance: none;
  -webkit-appearance: none;
}

#operando1, #operando2, #resultado{
  font-size: 2.5vw;
  width:6em;
  height: 2em;
  border-radius: 0.5em;
  border: 1px solid grey;
  padding: 0.3em;
  margin: 0.5em auto 0.5em auto;
  background-color: white;
}

#resultado {
  background-color: rgba(121, 114, 203, 0.4);
}

#reset {
  font-size: 3vw;
  margin: 1.5em;
  border: 1px solid grey;
}

.btn-radio {
  font-size: 2vw;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  border-radius: 0.5em;
  border: 1px solid grey;
  padding: 0.2em;
  background-color: rgb(143, 242, 7);
  margin: 1em 0 0.4em 0;
}
